<div class="button-row">
  <button mat-raised-button (click)="openDialog()">Eat</button>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Glucose
      </mat-panel-title>
      <mat-panel-description>
        {{ status.glucose.accessible.Q | number:'1.2-2' }} mmol/L with {{ status.glucose.gut.meals.length }} meals
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Extra information about the glucose subsystem available here.</p>
    <app-meal-list></app-meal-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Insulin
      </mat-panel-title>
      <mat-panel-description>
        {{ status.insulin.compartments[0].S | number:'1.0-0' }} /
        {{ status.insulin.compartments[1].S | number:'1.0-0' }} /
        {{ status.insulin.I | number:'1.0-0' }} mU
      </mat-panel-description>
    </mat-expansion-panel-header>
    x: {{ status.insulin.action.x[0] | number:'1.5-5' }} /
    {{ status.insulin.action.x[1] | number:'1.5-5' }} /
    {{ status.insulin.action.x[2] | number:'1.5-5' }}
  </mat-expansion-panel>
</mat-accordion>
