<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Glucose
      </mat-panel-title>
      <mat-panel-description>
        10.8 mmol/L
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Extra information about the glucose subsystem available here.</p>
    <app-meal-list></app-meal-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Insulin
      </mat-panel-title>
      <mat-panel-description>
        3.7 U
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Extra information about the insulin subsystem available here.</p>
  </mat-expansion-panel>
</mat-accordion>
